.collapseBar {
	display: flex;
	justify-content: space-between;

	width: 100%;
	background: black;

	font-size: 20px;
	color: white;
	padding: 5px;

	outline: 0;
	border: none;
}

.collapseBar:hover {
	background: rgb(64, 64, 64);
}